/* import variables */
@import url('./variables.css');



html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 {
    position: relative; top: 0; left: 0;
    width: 100%;
}

.main-title {
    margin: auto;
    width: 100%;
    padding-top: 300px;
}

.main-title p {
    font-size: 24px;
}

.title-text {
    font: normal bold 100px/75px Arial;
    color: var(--title-color);
}

.main-img {
    content: url('../images/pranav1.jpg');
}
.button {
    padding: .8rem 2.2rem;
    margin-top: 1rem;
    font: normal 500 16px/20px var(--monsterrat);
    position: relative;
    border: 3px solid white;
    border-radius: 4px;
}

.button.primary-button {
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: all 0.6s ease;
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color:var(--primary-color);
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px;
    left:-2px;
    bottom:-2px;
    right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button {
    background: white;
    background-clip: padding-box;
    color: var(--primary-color);
    transition: all 0.6s ease;
}

.button.secondary-button:hover {
    background: var(--gradient-color);
    color: whitesmoke;
}

/* Navigation style */
.navbar .navbar-brand{
    padding: 0 2rem 0 2rem;
}

.navbar {
    padding: 0 10rem;
}

.nav-item .nav-link {
    text-transform: uppercase;
    padding: 0;
    color: var(--title-color);
}


.navbar-nav a {
    font-size: 24px;
    margin-left: 3rem;
}

.navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-donate {
    margin-right: 2rem;
    padding: 1rem;
    font-size: 20px;
}

/* Mailing list */

.list-area {
    background-color: var(--title-color);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-header {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font: Arial;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 1rem;
}

.button-submit {
    display: flex;
    justify-content: center;
}

.submit-button {
    margin: 1rem;
}

/* About section on main page */

.about-section {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.about-img {
    width: 49%;
}

.pranav-about {
    content: url('../images/pranav3.jpg');
}

.about-section-header {
    color: var(--primary-color);
    font: Arial;
    text-transform: uppercase;
    padding: 1rem 0 1rem 1rem;
    font-size: 30px;
}

.about-para{
    display: flex;
    flex-direction: column;
}

.about-para p {
    width: 80%;
    margin: 1rem;
}

.about-para button {
    width: 30%;
    justify-content: center;
    margin-left: 15rem;
}

/* Issues section on main paige */

.card-section {
    margin: 2rem;
}

/* Footer section */

footer {
    background: var(--title-color);
}

.disclaimer {
    width: 80%;
    margin: auto;
    padding: 1rem;
    color: whitesmoke;
}

.copyright {
    font-size: small;
    color: var(--title-color);
    text-align: center;
    margin: 0;
}



/* About Page styling */

.page-title {
    color: var(--title-color);
    font-size: 50px;
    margin-top: 2rem;
}

.extra-margin {
    margin-left: 3rem;
}

.about-para {
    width: 75%;
    margin-left: 2rem;
}

.schedule-time {
    margin: 1rem 5rem;
    
}

/* Issues Page styling */
.issues-page {
    margin: 3rem;
}

.issues-page h1 {
    color: var(--title-color);
    font-size: 50px;
    margin-top: 2rem;
    margin-left: 8.75rem ;
}

/* Contact page */

.lead button {
    margin-left: 0;
}

.jumbotron p {
    color: var(--text-color);
}

/* Get Involved Page */

.involved-section-header {
    color: var(--primary-color);
    font: Arial;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 2rem;
}

@media only screen and (max-width: 600px) {

    .main-title {
        margin: 1rem 0;
        width: 50%;
        padding-top: 0;
    }

    .title-text {
        font: normal bold 70px/60px Arial;
        margin-left: 0;
    }

    .main-title p {
        font-size: 18px;
    }

    .button {
        padding: 0;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .main-img {
        content: url('../images/pranav1-mobile.jpg');
        max-width: 98%;
    }

    /* about section mobile */
    .about-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }
    
    .about-img {
        width: 100%;
    }
    
    .pranav-about {
        content: url('../images/pranav3-mobile.jpg');
        width: 100%;
    }
    
    .about-para{
        display: flex;
        flex-direction: column;
    }
    
    .about-para p {
        width: 98%;
        margin: 1rem;
    }
    
    .about-para button {
        width: 30%;
        margin-left: 1rem;
    }


    /* About Page Mobile styling */

    .extra-margin {
        margin-left: 1rem;
    }

    .about-para {
        margin-left: 0;
        margin-right: 1rem;
    }

    .images {
        display: flex;

    }

    .schedule-time {
        margin: 1rem 5rem;
        
    }

    /* Issues Page styling */
    .issues-page {
        margin: 0;
    }

    .issues-page h1 {
        margin-left: 1rem ;
    }

    /* contact page styling */
    .contact-btn {
        padding: 1rem;
    }
}